body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0; margin: 0;
  background: green;
}

#world {
  /* border: 1px solid blue; */
  position: absolute;
  width: calc(100vw - 1px);
  height: calc(100vh - 1px);
  box-sizing: border-box;
  top:0;
  left:0;
  overflow: hidden;
}

#world .tile {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: rgb(100, 173, 66);
  font-size: 11px;
  text-align: center;
  box-sizing: border-box;
  
}

.passenger {
  position: absolute;
  box-sizing: border-box;
  top:0;
  left:0;
  height: 20px;
  padding:2px;
  height: auto;
}
.passenger img {
  width: 100%;
}

.passenger-destination {
  font-size:11px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: black;
  color: white;
  padding: 1px;
  display: inline-block;
  text-align: center;
}

.passenger-destination:before {
  content: '';
  position: absolute;
  bottom: 17px;
  left: 11px;
  width: 0; height: 0;
  border-bottom: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.bus {
    position: absolute;
    transition: all 1s ease-out;
    z-index:222;
    background-image: url(images/icons8-bus-100.png);
    width: auto;
    /* height: 39px; */
    background-repeat: no-repeat;
    background-size: auto calc(100% - 19px);
    background-position-y: 19px;
  }

  .bus .bus-sign {
    font-size:11px;
    border-radius: 2px;
    background-color: rgba(0, 38, 255, 0.7);
    color: white;
    padding: 1px;
    margin-bottom: 5px;
    text-align: center;
    word-break: break-word;
    position: relative;
    border: 1px solid #002df8;

  }

  .bus-sign:before {
    content: '';
    position: absolute;
    top: calc(100% + 1px);
    left: 15px;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 4px solid #002df8;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

  .city {
    position: absolute;
    background-image: url('images/city-svgrepo-com.svg');
  }

  .city .city-img {
    width:100%;
  }

  .city .city-sign {
    font-size: 11px;
    position: absolute;
    color: white;
    bottom:2px;
    left:2px;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
    padding:2px;
  }

.header {
  position: absolute;
  width: 100vw;
  height: 150px;
  background-image:url();
  background-repeat: repeat-x;
 }



.timerPanel {
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  position: absolute;
  padding: 0px;
  background-color: rgba(43, 31, 17, .9);
  display: block;
  box-sizing: border-box;
  padding: 5px 2px;
  font-size: 12px;
  left: calc(100vh / 2);
  top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timerPanel p {
  margin:0; padding:0;
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  font-size: 8px;
}

#timeleft {
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  margin-top: 2px;
  padding: 5px;
  color: rgb(11, 227, 255);
  background-color: rgb(43, 26, 3);
  text-shadow: 0px 0px 2px rgb(0, 41, 223);
  /* border: 1px solid rgb(248, 161, 0); */
}
